Options +FollowSymLinks
IndexIgnore */*

# Set max upload limit
<IfModule mod_php5.c>
	php_value upload_max_filesize 6M
</IfModule>

# Gzip
<ifModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
	mod_gzip_item_include handler ^cgi-script$
	mod_gzip_item_include mime ^text/.*
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_exclude mime ^image/.*
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>

# Set cache control header for static files.
# If this throws a 500 server error, make sure the headers module is enabled
# or try to run "sudo a2enmod headers" as root to start it.
<filesMatch "\.(css|jpg|png|gif|js|svg|webp|woff2?)$">
	Header set Cache-Control "max-age=31536000, public"
</filesMatch>

# Rewrite.
RewriteEngine on

# Redirect
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteCond %{HTTP_HOST} !\.localhost$ [NC]
#RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

#RewriteCond %{HTTPS} off [NC]
#RewriteCond %{HTTP_HOST} !\.localhost$ [NC]
#RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

# Remove trailing slashes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]

# Redirect to Yii bootstrap file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . %{DOCUMENT_ROOT}/index.php